[submodule "rasp-pi-tools"]
	path = rasp-pi-tools
	url = git://github.com/raspberrypi/tools.git
[submodule "qt/qtbase"]
	path = qt/qtbase
	url = git://gitorious.org/qt/qtbase.git
[submodule "qt/qtjsbackend"]
	path = qt/qtjsbackend
	url = git://gitorious.org/qt/qtjsbackend.git
[submodule "qt/qtdeclarative"]
	path = qt/qtdeclarative
	url = git://gitorious.org/qt/qtdeclarative.git
